<!--
  Shortcode to insert image into .md files.
  - Support image caption
  - Support build-time image sizes
  - Support image `config` options.
  - Can be used with positional params, named params or both
-->

{{ $src := or (.Get "src") (.Get 0) }}
{{ $alt := or (.Get "alt") (.Get 1) }}
{{ $width := or (.Get "width") (.Get 2) }}
{{ $height := or (.Get "height") (.Get 3) }}
{{ $img := resources.Get ($src) }}

{{ with $img }}
  {{ $width = or $width $img.Width }}
  {{ $height = or $height $img.Height }}

  {{
    $size := printf "%vx%v"
      (cond (eq $width $img.Width) "" $width)
      (cond (eq $height $img.Height) "" $height)
  }}

  {{ with ne $size "x" }}
    {{ $img = $img.Resize $size }}
  {{ end }}

  <figure class="my3 center">
    <img style="max-width: 100%; height: auto; margin: 0 auto;"
      src="{{ $img.RelPermalink }}"
      {{ with $alt }} alt="{{.}}" {{ end }}
      {{ with $width }} width="{{.}}" {{ end }}
      {{ with $height }} height="{{.}}" {{ end }}
    />
    {{ with $alt }}
      <figcaption style="font-weight: 400; font-style: italic;">
        <small>{{.}}</small>
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
